---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = 'Contact Me';

---
<BaseLayout PageTitle={PageTitle}/>

<section id="contact">
<h2>Contact Me</h2>
<form>
<input type="text" placeholder="Your Name">
<input type="email" placeholder="Your Email">
<textarea placeholder="Your Message"></textarea>
<button type="submit">Send</button>
</form>
</section>
</html>