---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content={Astro.generator} />
<title>About Me</title>
</head>
<header>
<nav>
<h2>My Portfolio</h2>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/portfolio/">Portfolio</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/contact/">Contact</a></li>
</ul>
</nav>
</header>

<section id="contact">
<h2>Contact Me</h2>
<form>
<input type="text" placeholder="Your Name">
<input type="email" placeholder="Your Email">
<textarea placeholder="Your Message"></textarea>
<button type="submit">Send</button>
</form>
</section>
</html>