---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = 'Home';
---
<BaseLayout PageTitle={PageTitle}/>
<section id="home">
<h1>Welcome to My Portfolio</h1>
<p>Showcasing my projects and skills.</p>
</section>

</body>
</html>

