---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = 'My Portfolio';

---
<BaseLayout PageTitle={PageTitle}/>
<section id="portfolio">
<h1>My Projects</h1>
<!-- Add your projects here -->
 <h2>Games</h2>
  <h3>Solitare</h3>
    <p>A classic solitare card game built with Unity.(Note that it is still a work-in-progress) </p>
        <a href="/games/52cards">Play Now</a>
</section>
</html>