---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = 'My Portfolio';

---
<BaseLayout PageTitle={PageTitle}/>
<section id="portfolio">
<h1>My Projects</h1>
<!-- Add your projects here -->
</section>
</html>